<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/tv_shows">TV Shows</a></li>
            <li><a href="/celebrities">Celebrities</a></li>
        </ul>
    </nav>

    <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search IMDb">
        <button type="submit">Search</button>
    </form>

    <div class="login-button">
        <a href="/login">Login</a>
    </div>
</header>
    
  <footer>© For Educational Purpose</footer>