<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clondb</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
    <body>
        <div class="wrapper">
            <nav>
                <a href="/posts">Posts</a>
                <% if !logged_in? %>
                  <a href="/login">Log In</a>
                  <a href="/register">Sign Up</a>
                <% end %>
            </nav>
                <%= yield %>
        </div>
    </body>
</html>